body {
    background-image: url(https://img.freepik.com/free-photo/elevated-view-laptop-stationeries-yellow-backdrop_23-2147880496.jpg?w=1060&t=st=1706376812~exp=1706377412~hmac=084c6e4883012c30b3615480339338db2d02191cdbc28cc9ca81016c5dd0cb50.jpg);
 }
  
 form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  label {
    display: block;
    margin-bottom: 16px; 
    color: #333;
  }
  .label1, .label2, .label3, .label4, .label5, .label6 {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px; 
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  button {
    background-color:aqua;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }